<div class="splash-container">
  <img src="/assets/logo.png" alt="logo" />
  <div class="splash-buttons-container">
    <%= link_to "LOG IN", new_user_session_path, class: "btn sign-in-btn" %>
    <%= link_to "SIGN UP", new_user_registration_path, class: "btn sign-up-btn" %>
  </div>
</div>
