<div id="<%= dom_id reserved_flight %>">
  <p>
    <strong>User:</strong>
    <%= reserved_flight.user_id %>
  </p>

  <p>
    <strong>Package:</strong>
    <%= reserved_flight.package_id %>
  </p>

  <p>
    <strong>Flight:</strong>
    <%= reserved_flight.flight_id %>
  </p>

</div>
