<h1>Editing reserved flight</h1>

<%= render "form", reserved_flight: @reserved_flight %>

<br>

<div>
  <%= link_to "Show this reserved flight", @reserved_flight %> |
  <%= link_to "Back to reserved flights", reserved_flights_path %>
</div>
