<div class="sign-out-container">
  <%= button_to "", destroy_user_session_path, method: :delete, class:"fa-solid fa-arrow-right-to-bracket" %>
  <%# <i class="fa-solid fa-arrow-right-to-bracket"></i> %>
</div>
  <div id="root"></div>

