/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self

 font-family: 'Lato', sans-serif;
font-family: 'Roboto Mono', monospace;
font-family: 'Rubik', sans-serif;
font-family: 'Tektur', cursive;

 */

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Roboto+Mono:ital,wght@0,400;0,500;0,600;0,700;1,400&family=Rubik:ital,wght@0,300;1,300&family=Tektur:wght@400;500;600;700;800&display=swap");

*,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

body {
  padding: 10px 10px;
  background: #efefef;
}

#root {
  background: white;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
}

/* Styles for the entire app container */
.App {
  display: grid;
  grid-template-columns: 200px auto;
  height: 91vh;
  overflow: hidden;

  /* border: 5px solid red; */
}

/* /* ####satrt Styles for the navbar */
.navbar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
  height: 95vh;
  font-family: "Lato", sans-serif;
  overflow: hidden;
  border-right: 2px solid #efefef;
}

.brand {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  width: 100%;
  height: 10%;
  flex-basis: 10%;
}

/* Center the Sign up heading */
h2 {
  font-size: 24px;
  margin: 0 auto 15px;
  text-align: center;
}

.form > h2 {
  text-align: center;
  text-transform: uppercase;
  color: #f5f7f1;
}

.reservations > h2 {
  text-align: center;
  background-color: #d3ea7f;
}

.delete-flight h2 {
  font-size: 24px;

  /* margin-bottom: 20px; */
  text-align: center;
  margin-bottom: 10px;
}

.forgotpassword h2 {
  text-align: center;
  margin-bottom: 20px;
}

.brand a h2 {
  font-size: 25px;
  font-weight: 600;
  color: #333;
  letter-spacing: 0.1em;
}

nav {
  width: 100%;
  flex-basis: 70%;
}

nav ul li {
  width: 80%;
  padding: 0.4em;
  font-weight: bold;
  margin-bottom: 3px;
}

.delete-flight li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  border-radius: 5px;
}

nav > ul > li:hover {
  background-color: #98bf11;
  border-radius: 5px;
  padding: 10px;
}

.social {
  flex-basis: 20%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icons > i {
  margin-right: 0.7em;
}

.add-button {
  border: none;
  width: 100%;
  padding: 0 5px;
  background: none;
  font-size: large;
  font-weight: 600;
  display: flex;
  justify-content: flex-start;
}

/* ######## end NAVBAR ### */

/* Splash Screen */

.splash-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 90vh;
  width: 100%;
  max-width: 450px;
  margin: 2rem auto 0;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  color: black;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #f2f2f2;
}

.splash-container img {
  margin: auto;
  width: 200px;
  height: 200px;
}

.splash-buttons-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.sign-in-btn,
.sign-up-btn {
  padding: 5px 15px;
  font-family: "Proxima Nova Bold", sans-serif;
  font-size: 15px;
  width: 10vw;
  border-radius: 5px;
  border: none;
  text-align: center;
  text-decoration: none;
}

.sign-in-btn {
  background-color: #3878c2;
  color: #fff;
}

.sign-up-btn {
  background-color: rgba(0, 0, 0, 0);
  color: #434b54;
}

/* Styles for the main Flights page */

.item {
  height: 100%;
  min-width: 15rem;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item-image-container {
  height: 70%;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  overflow: hidden;
}

.item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1rem;

  /* pointer-events: none; */
}

.text {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text > p {
  font-size: 0.7rem;
  color: #9e9e9e;
  margin: 0.3rem 0;
}

.inner-carousel {
  display: flex;
  height: 100%;
}

.outer-carousel {
  cursor: grab;
  overflow: hidden;
  height: 100%;
  width: 95%;
  margin: 0 auto;
}

.carousel {
  display: grid;
  grid-template-columns: 7% 86% 7%;
  grid-template-rows: 20vh 60vh 20vh;
  max-width: 100%;
  justify-content: center;
  align-items: center;
}

.carousel-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  justify-content: end;
}

.circle-cont {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.circle {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  margin-right: 0.7rem;
  border: 2px solid #9e9e9e;
  color: #9e9e9e;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left,
.right {
  background-color: #efefef;
  color: white;
  width: 4rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  border-radius: 0 2rem 2rem 0;
}

.left {
  border-radius: 0 2rem 2rem 0;
}

.right {
  border-radius: 2rem 0 0 2rem;
}

.clickactive {
  background-color: #98bf11;
}

.active {
  background-color: #98bf11;
  padding: 5px 0;
  width: 100%;
}

.deleted {
  text-decoration: line-through;
}

button:disabled,
button[disabled] {
  border: 1px solid #999 !important;
  background-color: #ccc !important;
  color: #666 !important;
}

/* styles for the reserve form */

.reserve-form {
  background: url("./images/reserve-background.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.reserve-submit {
  background-color: #98bf11;
  color: #fff;
}

.overlay {
  background-color: rgba(152, 191, 17, 0.8);
  padding: 2rem;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 10% 80% 10%;
}

.mag {
  background-color: #fff;
  width: 4rem;
  height: 3rem;
  border-radius: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mag > i {
  font-size: 2rem;
  color: #98bf11;
  transform: rotate(90deg);
}

.minus {
  display: flex;
  flex-direction: column;
}

.minus > hr {
  width: 2rem;
  border: 3px solid #fff;
  margin-bottom: 0;
  border-radius: 0.2rem;
}

.middle {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  width: 95%;
  min-height: 50%;
  color: #d5e88f;
  font-family: "Lato", sans-serif;
}

.form > p {
  text-align: center;
  font-size: 0.8rem;
  font-weight: bold;
  line-height: 1.7rem;
  word-spacing: 0.2rem;
  color: #d9e3b6;
}

.form > hr {
  margin: 1rem auto;
  width: 80%;
  border: 1px solid #d5e88f;
}

.form > form {
  width: 90%;
  display: grid;
  grid-gap: 1.2rem;
  justify-content: center;
  grid-template-columns: repeat(5, 12vw);
  margin: 2rem auto;
}

.form > form > * {
  width: 100%;
  height: 3.5rem;
  border-radius: 1rem;
  background-color: #98bf11;
  border: 2px solid #d5e88f;
  padding: 1rem;
  color: #d5e88f;
}

.form > form > button {
  cursor: pointer;
  background-color: #fff;
  color: #98bf11;
}

/* STYLES FOR MY RESERVATIONS */

.reservations {
  background:
    url("./images/reserve-background.jpg") no-repeat center center
    fixed;
  background-size: cover;
  background-color: #d3ea7f;
  min-height: 100vh;
}

.reserved-flights {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.reserved-flight {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  width: 320px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  height: auto;
}

.reserved-flight > table {
  border: 1px solid #ccc;
}

.reserved-flight > table > tr > td {
  padding: 5px;
  text-align: left;
  border-bottom: 1px solid #ccc;
}

.reserved-flight h3 {
  font-size: 1.2rem;
  margin: 0;
  color: #333;
}

.reserved-flight p {
  margin: 5px 0;
  color: #666;
}

/* ***************** Add flight ******************* */

.add-submit {
  background: #98bf11;
}

.add-submit:hover {
  background: #435502;
  color: #fff;
}

.width-full {
  width: 100%;
  border: 2px solid #98bf11;
}

/* ########satr DELETE FLIGHT COMPONENT */
.delete-flight {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.delete-flight ul {
  list-style: none;
  padding: 10px;
  margin: 20px;
}

.btn-delete,
.btn-deleted {
  background-color: #e74c3c;
  color: white;
  border: none;
  border-radius: 3px;
  padding: 5px 10px;
  cursor: pointer;
}

.delete-flight span {
  color: #999;
}

/* #########END DELETE FLIGHT########  */

/* #########  FLIGHT DETAILS  COMPONENT */

.details {
  display: grid;
  grid-template-columns: 5% 65% 30%;
  grid-template-rows: 10% 80% 10%;
  width: 100%;
  height: 100%;
  padding: 3rem 1rem 1rem 0.5rem;
}

.big-image {
  width: 100%;
  max-height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding-right: 0.4rem;
}

.image2 {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.reserve {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.reserve > p {
  background-color: var(--primary-color);
  transition: all 0.5s ease-in-out;
}

.reserve > p:hover {
  filter: invert(60%);
}

/* ############# END OF FLIGHT DETAILS COMPONENT */

/**********  Login*Sign  **********/

/* Basic styling for the form container */
.win {
  width: 100%;
  max-width: 450px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5% 15% 5% 15%;
  color: black;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #f2f2f2;
  text-align: center;
}

/* Styling for form fields */
.field {
  margin-bottom: 15px;
  width: 100%;
}

/* Styling for labels */
label {
  font-weight: bold;
}

.field input {
  width: 100%;
  border-radius: 8px;
  padding: 3px;
}

/* Styling for text fields and email fields */
.win > input[type="text"],
.win > input[type="email"],
.win > input[type="password"] {
  width: 70%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  margin: 0 auto;
}

/* Default styles for screens wider than 768px */
.actions {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

/* For desktop view */
.Aactions {
  display: flex;
  gap: 1rem;
  justify-content: center;

  /* margin-top: 20px; */
  margin: 1rem;
  align-items: center;
}

/* Styling for submit button */
input[type="submit"],
.actions a {
  padding: 5px 20px;
  width: 50%;
  background-color: #98bf11;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

/* Hover effect for submit button */
input[type="submit"]:hover {
  background-color: #d3ea7f;
}

/* Styling for error messages */
#error-explanation {
  color: red;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li::before {
      content: "• ";
    }
  }
}

/* Styling for password length note */
em {
  font-size: 12px;
  color: #777;
}

/* Styling for login link */

/* Hover effect for login link */
.actions a:hover {
  background-color: #d3ea7f;
}

/* Styling for the styled links */
.styled-link {
  padding: 5px 20px;
  background-color: #98bf11;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
}

/* Hover effect for styled links */
.styled-link:hover {
  background-color: #d3ea7f;
}

/* Styling for the styled buttons */
.styled-button {
  padding: 10px 20px;
  background-color: #d3ea7f;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  display: inline-block;
}

/* Hover effect for styled buttons */
.styled-button:hover {
  background-color: #d3ea7f;
}

#centered-field {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.email-label {
  font-weight: bold;
  color: #98bf11;
}

/* 30 */
.forgotpassword {
  width: 100%;
  max-width: 548px;
  margin: 2rem auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5% 15% 5% 15%;
  color: black;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #f2f2f2;
}

.forgotpassword .field,
.forgotpassword .Aactions {
  text-align: center;
}

.forgotpassword input[type="text"],
.forgotpassword input[type="email"],
.forgotpassword input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  margin-bottom: 15px;
}

.forgotpassword input[type="email"] {
  width: 100%;
}

.forgotpassword .email-label {
  font-weight: bold;
  color: #98bf11;
}

/* For mobile view within the range of 375px to 767px */
@media (max-width: 767px) and (min-width: 375px) {
  .forgotpassword {
    padding: 15px;
  }
}

.mobile-menu-icon {
  display: none;
  cursor: pointer;
  font-size: 1.5rem;
  position: fixed;
  top: 0;
  left: 20px;
  z-index: 9999;
}

.mobile-menu-icon.open {
  display: none;
}

.fas {
  color: #98c008;
  font-weight: 900;
}

.fa-arrow-right-to-bracket {
  border: none;
  font-size: 19px;
  color: #98c008;
}

/* Hide the navbar on mobile screens */
@media (max-width: 468px) {
  /* ####start Navbar ###### */
  .App {
    grid-template-columns: auto;
    height: auto;
  }

  .mobile-menu-icon {
    display: block;
  }

  .navbar {
    display: none;
  }

  .mobile-open {
    display: flex;
  }

  .nav-links {
    display: none;
  }

  .nav-links.mobile-open {
    display: block;
  }

  nav ul {
    text-align: center;
    margin-top: 20px;
  }

  nav ul li {
    width: 70%;
    border-bottom: 0.5px green solid;
  }

  .modal {
    z-index: 999999;
  }

  .form > form {
    grid-template-columns: auto;
  }

  .minus {
    display: none;
  }

  .mag {
    width: 3rem;
    height: 2rem;
  }

  .mag > i {
    font-size: 17px;
  }
}

.sign-out-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 15px;
  padding-bottom: 8px;
}

.sign-out-btn {
  border: none;
  cursor: pointer;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
